* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(45,54,76,1);
    width: 100%;
}

.header {
    width: 100%;
    background: #fff;
    height: 60px;
}

.wrap {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.result, .code {
    flex: 1;
    height: 600px;
    width: 50%;
    border-top: 5px solid #333;
    border-bottom: 5px solid #333;
}

.result {
    background: #fff;
    border-right: 5px;
}

.accordion {
    background: #eee;
    padding: 14px;
    width: 100px;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
}

.panel textarea{
    width: 291px;
    height: 145px;
    padding: 12px;
    font-size: 17px;
    resize: none;
}

#preview {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    overflow: auto;
}

textarea:focus {
    outline: none !important;
    border: 2px solid rgba(45,54,76,1);
}
